.mobile-sidebar {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000;
    z-index: 1000;

    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: column;
    
}

.mobile-sidebar-container {
    margin-top: 50px;
}

.mobile-sidebar-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    flex-grow: 1;
    padding-bottom: 5rem;
    width: 100%;
}

.mobile-sidebar.show {
    display: block;
}

.mobile-sidebar-menu li {
    width: 100%;
    text-align: center;
}

.mobile-sidebar-menu a {
    font-weight: 700;
    font-size: 3.25rem;
    color: #FFFFFF;
    text-decoration: none;
    display: inline-block; 
    padding: 0.625rem 1.25rem; 
    margin-bottom: 1rem;
    border-radius: 5px;
    transition: background 0.3s;
}

.mobile-sidebar-menu a:hover {
    background: #333333;
}

.mobile-social-icons {
    display: flex;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -4rem;
}

.mobile-social-icons i {
    font-size: 3.75rem;
    color: white !important;
    transition: transform 0.3s ease-in-out, color 0.3s;
}

.mobile-social-icons i:hover {
    transform: scale(1.2);
}

.mobile-name, .mobile-copyright {
    display: flex;
    font-weight: 100;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
}

.mobile-name {
    font-size: 3.125rem;
    padding-bottom: 2rem;
}

.mobile-copyright {
    font-size: 2rem;
    box-sizing: border-box;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

@media (min-width: 1000px) {
    .mobile-sidebar {
        display: none !important;
    }
}



#mobile-sidebarToggle {
    display: none;
    border: none;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 0;
}


@media (max-width: 1000px) {
    body {
        padding-left: 0 !important;
        padding-right:0 !important;
      }
    .sidebar-toggle-btn{
        display: inline-flex !important;

    }

}

.sidebar-toggle-btn {
    background-color: white;
    display: none;
    color: rgb(0, 0, 0);
    border: none;
    font-size:4rem;
    cursor: pointer;
    padding-left: 2.8rem;
}
