.mobile-sidebar {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000;
    z-index: 1000;

    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    
}

.mobile-sidebar.show {
    display: flex;
}


.mobile-sidebar-container {
    display: flex;
    flex-direction: column;
    height: 100%;         
    justify-content: space-between; 
    align-items: center;   
    padding: 2rem 0;
}

.mobile-menu-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;    
    flex-grow: 1;          
}

.mobile-sidebar-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    flex-grow: 1;
    width: 100%;
}

.mobile-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.mobile-sidebar-menu li {
    width: 100%;
    text-align: center;
}

.mobile-sidebar-menu a {
    font-weight: 700;
    font-size: 3.25rem;
    color: #FFFFFF;
    text-decoration: none;
    display: inline-block; 
    padding: 0.625rem 1.25rem; 
    margin-bottom: 1rem;
    border-radius: 5px;
    transition: background 0.3s;
}

.mobile-sidebar-menu a:hover {
    background: #333333;
}

.mobile-social-icons {
    display: flex;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.mobile-social-icons i {
    font-size: 3.75rem;
    color: white !important;
    transition: transform 0.3s ease-in-out, color 0.3s;
}

.mobile-social-icons i:hover {
    transform: scale(1.2);
}

.mobile-name, .mobile-copyright {
    display: flex;
    font-weight: 100;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
}

.mobile-name {
    font-size: 3.125rem;
}

.mobile-copyright {
    font-size: 2rem;
    box-sizing: border-box;
    padding-top: 2rem;

}

@media (min-width: 1000px) {
    .mobile-sidebar {
        display: none !important;
    }
    .sidebar-toggle-btn {
        display: none; 
    }
}

.sidebar-toggle-btn {
    position: fixed;           
    top: 1rem;                
    left: 1rem;                
    z-index: 1100;           
    background-color: white;
    color: #000;
    border: none;
    font-size: 3.5rem;        
    cursor: pointer;
    padding: 0.5rem 1rem;     
    border-radius: 0.5rem;    
    box-shadow: 0 2px 5px rgba(0,0,0,0.3); 
    transition: opacity 0.4s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

.sidebar-toggle-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

/* Show button only on mobile */
@media (max-width: 1000px) {
    .sidebar-toggle-btn {
        display: inline-flex !important;
    }
    
    body {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}
