.mobile-sidebar-container {
    align-items: center;  
    justify-content: center;
}

.sidebar {
    width: 210px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    color: #FFFFFF;
    background: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;

    overflow-y: hidden;
    overflow-x: hidden;
}


.sidebar-menu {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: stretch;
    flex-grow: 1; 
    padding-bottom: 95px;
}

.name, .copyright {
    font-weight: 100;
    color: #FFFFFF;
    text-align: center; 
}

.name {
    font-size: 18px;
}

.copyright {
    font-size: 12px;
    padding: 0 20px 30px 20px;
    box-sizing: border-box;
}


.sidebar-menu a {
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%;
    padding: 15px 0;
    transition: background 0.3s;
}

.sidebar-menu a:hover {
  background: #333333;
  border-radius: 5px;
}

.social-icons {
    display: flex;  
    gap: 18px;  
    justify-content: center; 
    align-items: center; 
    padding-bottom: 8px;
    flex-wrap: wrap;
}


.social-icons i {
    font-size: 28px; 
    color: white !important; 
    transition: transform 0.3s ease-in-out, color 0.3s;
    -webkit-tap-highlight-color: transparent;
}

.social-icons i:hover {
    transform: scale(1.2); 
}


@media (max-width: 1000px) {
    .sidebar {
      left: -210px; 
    }
  
    .sidebar.show {
      left: 0; 
    }

}

